Repository duyvnguyen91/bestarion-assignment: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

atlantis.yaml:

version: 3
projects:
  - name: dev
    dir: infra/live/dev
    workflow: default
    autoplan:
      when_modified:
        - "*.tf"
        - "*.tfvars"
        - "../../modules/**/*.tf"
      enabled: true
    apply_requirements:
      - approved
    workflow: default

  - name: prod
    dir: infra/live/prod
    workflow: default
    autoplan:
      when_modified:
        - "*.tf"
        - "*.tfvars"
        - "../../modules/**/*.tf"
      enabled: true
    apply_requirements:
      - approved
    workflow: default

workflows:
  default:
    plan:
      steps:
        - init:
            extra_args: ["-lock=false"]
        - plan:
            extra_args: ["-lock=false"]
    apply:
      steps:
        - init:
            extra_args: ["-lock=false"]
        - apply:
            extra_args: ["-lock=false"]

feat: test pr
  infra/live/dev/terraform.tfvars
Due: dev

feat: fix cicd
  .github/workflows/atlantis.yml
  .github/workflows/terraform-ci.yml
Due: none

feat: update cicd
  .github/workflows/atlantis.yml
  infra/live/dev/terraform.tfvars
Due: dev

feat: update cicd
  .github/workflows/atlantis.yml
Due: none

feat: testing pr
  infra/live/dev/main.tf
  infra/live/dev/terraform.tfvars
  infra/live/prod/main.tf
Due: dev, prod

feat: testing pr
  .github/workflows/terraform-cd.yml
  infra/live/dev/terraform.tfvars
Due: dev

feat: update var
  infra/live/prod/terraform.tfvars
Due: prod
